crowdfunding01-admin-parent/crowdfunding02-admin-webui/target/
crowdfunding01-admin-parent/crowdfunding03-admin-component/target/
crowdfunding01-admin-parent/crowdfunding04-admin-entity/target/
crowdfunding05-common-util/target/
crowdfunding06-common-reverse/target/

crowdfunding01-admin-parent/.idea/
crowdfunding05-common-util/.idea/
crowdfunding06-common-reverse/.idea/

crowdfunding01-admin-parent/crowdfunding02-admin-webui/src/test/

spring-cloud01-parent/.idea
spring-cloud01-parent/spring-cloud03-provider/.mvn/

*.iml

spring-cloud01-parent/spring-cloud03-provider/mvnw
spring-cloud01-parent/spring-cloud03-provider/mvnw.cmd
spring-cloud01-parent/spring-cloud03-provider/HELP.md
spring-cloud01-parent/spring-cloud03-provider/src/test/*
spring-cloud01-parent/spring-cloud03-provider/target/
spring-cloud01-parent/spring-cloud02-common/target/