<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqt.crowd.mapper.OrderReturnInfoPOMapper" >
  <resultMap id="BaseResultMap" type="com.zqt.crowd.entity.OrderReturnInfoPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="support_money" property="supportMoney" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="signal_purchase" property="signalPurchase" jdbcType="INTEGER" />
    <result column="purchase" property="purchase" jdbcType="INTEGER" />
    <result column="freight" property="freight" jdbcType="INTEGER" />
    <result column="invoice" property="invoice" jdbcType="INTEGER" />
    <result column="return_date" property="returnDate" jdbcType="INTEGER" />
    <result column="describe_pic_path" property="describePicPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_id, type, support_money, content, count, signal_purchase, purchase, freight, 
    invoice, return_date, describe_pic_path
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zqt.crowd.entity.OrderReturnInfoPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_return_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_return_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_return_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zqt.crowd.entity.OrderReturnInfoPOExample" >
    delete from order_return_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zqt.crowd.entity.OrderReturnInfoPO" >
    insert into order_return_info (id, project_id, type, 
      support_money, content, count, 
      signal_purchase, purchase, freight, 
      invoice, return_date, describe_pic_path
      )
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{supportMoney,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, 
      #{signalPurchase,jdbcType=INTEGER}, #{purchase,jdbcType=INTEGER}, #{freight,jdbcType=INTEGER}, 
      #{invoice,jdbcType=INTEGER}, #{returnDate,jdbcType=INTEGER}, #{describePicPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zqt.crowd.entity.OrderReturnInfoPO" >
    insert into order_return_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="supportMoney != null" >
        support_money,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="signalPurchase != null" >
        signal_purchase,
      </if>
      <if test="purchase != null" >
        purchase,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="invoice != null" >
        invoice,
      </if>
      <if test="returnDate != null" >
        return_date,
      </if>
      <if test="describePicPath != null" >
        describe_pic_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="supportMoney != null" >
        #{supportMoney,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="signalPurchase != null" >
        #{signalPurchase,jdbcType=INTEGER},
      </if>
      <if test="purchase != null" >
        #{purchase,jdbcType=INTEGER},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=INTEGER},
      </if>
      <if test="invoice != null" >
        #{invoice,jdbcType=INTEGER},
      </if>
      <if test="returnDate != null" >
        #{returnDate,jdbcType=INTEGER},
      </if>
      <if test="describePicPath != null" >
        #{describePicPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zqt.crowd.entity.OrderReturnInfoPOExample" resultType="java.lang.Integer" >
    select count(*) from order_return_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_return_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.supportMoney != null" >
        support_money = #{record.supportMoney,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.signalPurchase != null" >
        signal_purchase = #{record.signalPurchase,jdbcType=INTEGER},
      </if>
      <if test="record.purchase != null" >
        purchase = #{record.purchase,jdbcType=INTEGER},
      </if>
      <if test="record.freight != null" >
        freight = #{record.freight,jdbcType=INTEGER},
      </if>
      <if test="record.invoice != null" >
        invoice = #{record.invoice,jdbcType=INTEGER},
      </if>
      <if test="record.returnDate != null" >
        return_date = #{record.returnDate,jdbcType=INTEGER},
      </if>
      <if test="record.describePicPath != null" >
        describe_pic_path = #{record.describePicPath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_return_info
    set id = #{record.id,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      support_money = #{record.supportMoney,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      count = #{record.count,jdbcType=INTEGER},
      signal_purchase = #{record.signalPurchase,jdbcType=INTEGER},
      purchase = #{record.purchase,jdbcType=INTEGER},
      freight = #{record.freight,jdbcType=INTEGER},
      invoice = #{record.invoice,jdbcType=INTEGER},
      return_date = #{record.returnDate,jdbcType=INTEGER},
      describe_pic_path = #{record.describePicPath,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zqt.crowd.entity.OrderReturnInfoPO" >
    update order_return_info
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="supportMoney != null" >
        support_money = #{supportMoney,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="signalPurchase != null" >
        signal_purchase = #{signalPurchase,jdbcType=INTEGER},
      </if>
      <if test="purchase != null" >
        purchase = #{purchase,jdbcType=INTEGER},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=INTEGER},
      </if>
      <if test="invoice != null" >
        invoice = #{invoice,jdbcType=INTEGER},
      </if>
      <if test="returnDate != null" >
        return_date = #{returnDate,jdbcType=INTEGER},
      </if>
      <if test="describePicPath != null" >
        describe_pic_path = #{describePicPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zqt.crowd.entity.OrderReturnInfoPO" >
    update order_return_info
    set project_id = #{projectId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      support_money = #{supportMoney,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      signal_purchase = #{signalPurchase,jdbcType=INTEGER},
      purchase = #{purchase,jdbcType=INTEGER},
      freight = #{freight,jdbcType=INTEGER},
      invoice = #{invoice,jdbcType=INTEGER},
      return_date = #{returnDate,jdbcType=INTEGER},
      describe_pic_path = #{describePicPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>